/* LOGIN */
    body {
      background: url('../../assets/img/water-bg.png') no-repeat center center fixed;
      background-size: cover;
      height: 100vh;
      font-family: "Poppins", sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .login-box {
      background: rgba(255, 255, 255, 0.95);
      border: 2px solid #cce5f6;
      border-radius: 10px;
      padding: 40px 50px;
      max-width: 400px;
      width: 90%;
      box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }
    .login-box h3 {
      text-align: center;
      color: #006fa6;
      font-weight: 700;
      margin-bottom: 40px;
      text-decoration: underline;
      text-underline-offset: 4px;
    }
      .login-box label {
      color: #555;
      font-weight: 500;
    }
    .btn-primary {
      background-color: #0072bc;
      border: none;
    }
    .btn-primary:hover {
      background-color: #005c94;
    }
    .logo {
      text-align: center;
      margin-bottom: 15px;
    }
    .logo img {
      width: 200px;
    }
    .subtitle {
      text-align: center;
      letter-spacing: 5px;
      color: #1b2e46;
      font-weight: 600;
      margin-bottom: 50px;
      margin-top: 25px;
    }
    .extra-links {
      text-align: center;
      font-size: 0.9em;
    }
    .extra-links a {
      color: #0072bc;
      text-decoration: none;
    }
    .extra-links a:hover {
      text-decoration: underline;
    }    