body {
      background-color: #eaf4f9;
      font-family: 'Poppins', sans-serif;
    }
    .sidebar {
      background-color: #f8f9fa;
      width: 260px;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      padding-top: 30px;
      box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    }
    .sidebar .logo {
      text-align: center;
      margin-bottom: 15px;
    }
    .sidebar .logo img {
      width: 150px;
    }
    .sidebar .title {
      text-align: center;
      font-weight: 600;
      font-size: 13px;
      letter-spacing: 3px;
      color: #1b2e46;
      margin-bottom: 25px;
    }
    .sidebar .nav-link {
      color: #1b2e46;
      padding: 10px 20px;
      border-radius: 8px;
      margin: 5px 10px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .sidebar .nav-link.active {
      background-color: #006EA0;
      color: #fff;
    }
    .sidebar .nav-link:hover {
      background-color: #d9edf7;
      color: #000;
    }
    .content {
      margin-left: 260px;
      padding: 10px;
    }
    .header {
      background-color: #fff;
      border-radius: 10px;
      padding: 12px 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
    }
    .header h3 {
      margin: 0;
      font-weight: 600;
    }
    .header .profile-icon {
      background-color: #e9f1f8;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      color: #1b2e46;
    }

    .card-section {
      background-color: #fff;
      border-radius: 10px;
      margin-top: 20px;
      padding: 20px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    }
    .section-title {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .stat-box {
      background-color: #dff0d8;
      border-radius: 8px;
      padding: 25px;
      text-align: center;
      font-weight: bold;
    }
    .stat-box h1 {
      font-size: 40px;
      color: #000000ff;
      margin: 0;
    }
    .stat-box p {
      margin: 0;
      color: #000000ff;
      font-size: 15px;
    }

    .stat-box-blue {
      background-color: #d9edf7;
      color: #31708f;
    }

    .profile-list {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
    }
    .profile-list button {
      background-color: #d9d9d9;
      border: none;
      border-radius: 10px;
      padding: 3px 15px;
      font-size: 0.9em;
    }